<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"

"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.fms.mapper.ResourceMapper">


    <insert id="addResource" parameterType="Resource" keyProperty="resourceId" useGeneratedKeys="true">
        insert into resource(userId,originName,resourceName,resourceSize,sizeName,format,`type`,createTime,updateTime)
        values(#{userId},#{originName},#{resourceName},#{resourceSize},#{sizeName},#{format},#{type},now(),now())
    </insert>

    <select id="getResourceById" resultType="Resource">
        select * from resource where userId=#{userId} and resourceId=#{resourceId}
    </select>

    <select id="getResourceList" resultType="Resource">
        select * from resource where userId=#{userId}
        <if test="keyword!=null and keyword!=''">
            and originName like concat("%",#{keyword},"%")
        </if>
        order by createTime desc limit #{startIndex},#{pageSize}
    </select>

    <select id="getResourceCount" resultType="int">
        select count(*) from resource where userId=#{userId}
        <if test="keyword!=null and keyword!=''">
            and originName like concat("%",#{keyword},"%")
        </if>
    </select>

    <delete id="deleteResource">
        delete from resource where userId=#{userId} and resourceId=#{resourceId}
    </delete>

</mapper>
